body {
    background-color: #303030 !important;
    margin: 0;
}

div.content {
    margin-left: 200px;
    top: 51px;
    position: fixed;
    /* padding: 1px 16px; */
    height: calc(100% - 51px);
    width: calc(100% - 200px);
    overflow-x: hidden;
    overflow-y: auto;
}

div.content.sidebar-off {
    width: 100%;
}

.blog>p {
    color: rgb(212, 212, 212);
}

.blog>h1 {
    color: rgb(212, 212, 212);
}

.blog>h2 {
    color: rgb(212, 212, 212);
}

.blog>h3 {
    color: rgb(212, 212, 212);
}

.blog>h4 {
    color: rgb(212, 212, 212);
}

.blog {
    padding: 20px;
    margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
    border-left: 1px solid rgb(66, 66, 66);
    border-right: 1px solid rgb(66, 66, 66);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79);
}