body {
    background-color: #303030 !important;
    margin: 0;
    overflow: hidden;
}

pre
{
    background-color: rgb(52,52,52);
    overflow: auto;
}

code
{
    color: #cccccc;
}

p
{
    color: #cccccc;
}

a
{
    color: rgb(55, 148,255);
}

h5
{
    color: #cccccc;
}

div.content {
    margin-left: 200px;
    margin-right: 30px;
    top: 51px;
    position: fixed;
    /* padding: 1px 16px; */
    height: calc(100% - 51px);
    width: calc(100% - 230px);
    overflow-x: hidden;
    overflow-y: auto;
}

div.content.sidebar-off {
    width: calc(100% - 60px);
    margin-left: 30px;
}

#side-close-button
{
    display: block;
    position: fixed;
    width: 30px;
    height: 80px;
    background-color: rgb(55, 55, 56);
    left: 170px;
    top: 50%;
    opacity: 0.5;
    text-align: center;
    line-height: 80px;
    font-size: 17px;
    color: #cccccc;
    cursor: pointer;
}

#side-close-button.sidebar-off
{
    display: none;
    overflow: hidden;
}

#side-open-button
{
    display: none;
}

#side-open-button.sidebar-off
{
    display: block;
    position: fixed;
    width: 30px;
    height: 80px;
    background-color: rgb(55, 55, 56);
    left: 0px;
    top: 50%;
    opacity: 0.5;
    text-align: center;
    line-height: 80px;
    font-size: 17px;
    color: #cccccc;
    cursor: pointer;
    overflow: hidden;
}

.blog>p {
    color: rgb(212, 212, 212);
}

.blog>h1 {
    color: rgb(212, 212, 212);
}

.blog>h2 {
    color: rgb(212, 212, 212);
}

.blog>h3 {
    color: rgb(212, 212, 212);
}

.blog>h4 {
    color: rgb(212, 212, 212);
}

.blog {
    padding: 20px;
    margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
    border-left: 1px solid rgb(66, 66, 66);
    border-right: 1px solid rgb(66, 66, 66);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79);
}